html {
	font-size: 16px;
	font-family: 'lilly';
}


body {
	background-image: url("../images/fond.png");
	background-repeat: repeat;
	font-family: 'lilly'
	font-size: 1rem;

}


h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

h3{
	font-size: 1.2rem;
	line-height: 3rem;
}

div{
	font-size: 1rem;
}
.clear{

	clear: both;
}

.boite1{

	background-color: gray;

	height: 30rem;
}

.boite2{
	background-color: gray;
	height: 30rem;
}

.gros_titre1{
background-image: url('../images/chemin_r.JPG');
background-size: cover;
margin-top: 2rem;

}


.carousel-item{

	text-align: center;
}


.bg-dark{
background-color: #343a4080 !important;
}


/*
-------------------------------------------------------

gestion des polices spécifiques au site

-------------------------------------------------------*/

@font-face {
	font-family: 'lilly';
	src: url('../fonts/lilly__.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'uncialantiqua';
	src: url('../fonts/UncialAntiqua-Regular.otf');

	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'linlibertine';
	src: url('../fonts/linlibertine_i.ttf');

	font-weight: normal;
	font-style: normal;

}

@font-face {
    font-family: 'lillyregular';
    src: url('../fonts/lilly__-webfont.woff2') format('woff2'),
         url('../fonts/lilly__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: FontAwesome;
	src: url('./fonts/fontawesome-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}



.checked{
	background-color: goldenrod;
}

.table{
	background-color: burlywood;
}
